<body style="text-align: center;">
    <p>Syarat: Kata kunci minimal 3 karakter dan 1 tipe terpilih</p>
    <input [(ngModel)]="keywords" type="text" id="keywords" placeholder="Masukkan kunci kata">
    <button (click)="cari()">Cari</button>
    &nbsp; <span>Tipe: </span>
    <input type="checkbox" [checked]="headerSearch" class="types" id="forum" /> Forum
    <input type="checkbox" [checked]="headerSearch" class="types" id="qna" /> QnA
    <input type="checkbox" class="types" id="pesan" /> Pesan
    <input type="checkbox" class="types" id="user" /> Username

    <hr>

    <ul *ngFor="let list of result">



        <li *ngIf="list.namaForum">
            <!-- jika array == forum  -->
            <p style="cursor: pointer;" (click)="forum(list.idForum)">{{list.namaForum}}</p>
        </li>

        <li *ngIf="list.namaQnA">
            <!-- jika array == qna  -->
            <p style="cursor: pointer;" (click)="qna(list.idQnA)">{{list.namaQnA}}</p>
        </li>



        <li *ngIf="list.idPesan">
            <!-- jika array == pesan  -->
            <p style="cursor: pointer;" (click)="pesan(list.idForum ,list.idPesan)">{{list.isiPesan}}</p>
        </li>



        <li *ngIf="list.username">
            <!-- jika array == user  -->
            <p style="cursor: pointer;" (click)="user(list.username)">{{list.username}}</p>
        </li>



    </ul>
</body>