<body style="text-align: center;">
    <p>Syarat: Kata kunci minimal 3 karakter, 1 tipe terpilih</p>
    <input [(ngModel)]="keywords" type="text" id="keywords" placeholder="Masukkan kunci kata">
    <button (click)="cari()">Cari</button>
    <span>Tipe: </span>
    <input type="checkbox" class="types" id="forum" /> Forum
    <input type="checkbox" class="types" id="pesan" /> Pesan
    <input type="checkbox" class="types" id="user" /> Username

    <hr>

    <ul *ngFor="let list of result">



        <li *ngIf="list.namaForum"> <!-- jika array == forum  -->
            <a (click)="forum(list.idForum)" href="#">{{list.namaForum}}</a>
        </li>



        <li *ngIf="list.idPesan"> <!-- jika array == pesan  -->
            <a (click)="pesan(list.idPesan)" href="#">{{list.isiPesan}}</a>
        </li>



        <li *ngIf="list.username"> <!-- jika array == user  -->
            <a (click)="user(list.username)" href="#">{{list.username}}</a>
        </li>



    </ul>
</body>