<div class="container">
    <h1>Aktivasi akun</h1>
    <p>Untuk mencegah pendaftaran pengguna yang tidak di inginkan, dan untuk memastikan bahwa kamu bukan robot, kami
        perlu memastikan identitas dirimu dengan mengkonfirmasi email yang diregistrasi sebelum kamu dapat menggunakan
        akun ini.</p>
    <div style="text-align: center; align-items: center;">

        <form action="">

            <mat-form-field appearance="outline" style="width: 20%;">
                <mat-label style="color: gray;">Masukkan Kunci</mat-label>
                <input type="text" matInput name="input_key" [(ngModel)]="input_key" placeholder="input_key">
                <mat-icon matSuffix><i class="fa fa-key"></i></mat-icon>
            </mat-form-field>

            <mat-card-actions>
                <div class="col-lg">
                    <button (click)="activate()" [disabled]="!mail_sent" class="btn btn-success mb-10" style="width: 20%;">Aktivasi</button>
                    <hr>
                    <small class="text-primary">Kirim kunci ke e-mail {{email}}</small> <br>
                    <button (click)="send_key()" [disabled]="mail_sent" class="btn btn-primary" style="width: 20%;">{{mail_sent? 'Terkirim' : 'Kirim'}}</button>
                </div>
            </mat-card-actions>

        </form>
    </div>
</div>