<div class="container-fluid">

    <body>

        <div *ngIf="loading" id="loading" class="overlay">
            <div [innerHTML]="loading_message" class="overlay-content"> </div>
        </div>

        <div style="background-color: white; text-align: center;">
            <br><label for="lang">Pilih bahasa program:</label>
            &nbsp;
            <select [(ngModel)]="lang" (change)="languageChange()" name="lang" id="lang">
                <option value="html">HTML / PHP / CSS / JS</option>
                <option value="njs">NodeJS</option>
                <option value="py">Python</option>
                <option value="c">C</option>
                <option value="cpp">C++</option>
                <option value="jv">Java</option>
            </select>
            <br>
            <label for="code">Kode program:</label>
            <div style="text-align: right; padding-bottom: 5px;">
            <button (click)="copy()">Salin link</button> 
            </div>

            <div id="editor-container">
                <ngx-monaco-editor style="height: 100%" [options]="editorOptions" [(ngModel)]="code">
                </ngx-monaco-editor>
            </div>
            
            <button (click)="compile()">Compile</button>
            <br><br>
            <label for="result">Hasil kode ({{resultType}}): </label><br>
            <div *ngIf="result"><span *ngIf="!run_err else errExist" style="color: green;">Sukses dijalankan
                </span>dalam waktu <span [innerHTML]="runtime"></span></div>
        </div>

        <div id="code-holder" *ngIf="res_type == 'code' else iframeBody">
            <code [innerHTML]="result"></code>
        </div>
    </body>

    <ng-template #errExist><span style="color: red;">Gagal dijalankan </span></ng-template>
    <ng-template #iframeBody><iframe [src]="result | safe"></iframe></ng-template>
</div>