<div class="container-fluid">

    <nav-bar [root]="root" current="{{metadata.judul}}"></nav-bar>



    <div *ngIf="!notFound else err404">
        <!-- main title -->
        <h1 id="main-title">{{metadata.judul}}</h1>
        <h4 id="main-op">Main OP: {{metadata.originalPoster}}</h4>
        <!-- main title end -->

        <!-- MAIN MESSAGE -->

        <div class="c-mbody">

            <!-- top -->
            <div class="top-mbody">

                    <small *ngIf="metadata.lastEdited != null" ngbPopover="{{verboseTime(metadata.lastEdited)}}"
                    triggers="mouseenter:mouseleave" popoverTitle="Terakhir di Edit"
                    class="time-info edited">(Edited)
                </small>

                <small class="time-info">{{verboseTime(metadata.createdDate)}}</small>
            </div>
            <!-- top end -->

            <!-- main -->
            <div class="row">

                <!-- user info -->
                <div class="col-md-1 user-info">
                    <img #img [src]="metadata.ProfilePicture" class="p-profile">
                    <div class="d-profile">
                        <span class="card-title n-profile">{{metadata.originalPoster}}
                        </span>
                    </div>
                </div>
                <!-- user info end -->

                <!-- main message -->
                <div class="col-md-auto  m-mbody">
                    <p class="card-text" [innerHTML]="metadata.pesanUtama" style="margin-top: 20px;"></p>
                </div>
                <!-- main message end -->

            </div>
            <!-- main end -->

            <!-- bottom -->
            <div class="bottom-mbody">

            </div>

        </div>
        <!-- MAIN MESSAGE END -->


        <br>
        <br>


        <h4><i class="fa fa-commenting fa-2x"></i> Balasan: {{listPesan.length}}</h4>


        <div class="listbox" #semua_balasan *ngIf="listPesan.length > 0 else balasan_kosong">
            <mat-list role="list">
                <mat-list-item role="listitem"
                    *ngFor="let list of listPesan | slice: (crnPage - 1) * show: (crnPage - 1) * show + show">




                    <div class="container-fluid c-mbody" id="{{list.idPesan}}">

                        <!-- top -->
                        <div class="top-mbody">

                            <small *ngIf="list.lastEdited != null" ngbPopover="{{verboseTime(list.lastEdited)}}"
                                triggers="mouseenter:mouseleave" popoverTitle="Terakhir di Edit"
                                class="time-info edited">(Edited)
                            </small>

                            <small class="time-info">{{verboseTime(list.createdDate)}}</small>
                        </div>
                        <!-- top end -->

                        <!-- main -->
                        <div class="row">

                            <!-- user info -->
                            <div class="col-md-1 user-info">
                                <img #img [src]="list.ProfilePicture" class="p-profile">
                                <div class="d-profile">
                                    <span class="card-title n-profile">{{list.originalPoster}}
                                    </span>
                                </div>
                            </div>
                            <!-- user info end -->

                            <!-- main message -->
                            <div class="col-md-auto m-mbody">
                                <p class="card-text" [innerHTML]="list.isiPesan" style="margin-top: 20px;"></p>
                            </div>
                            <!-- main message end -->

                        </div>
                        <!-- main end -->

                        <!-- bottom -->
                        <div class="bottom-mbody">

                            <a (click)="copylink(list.idPesan)" ngbPopover="Salin link pesan ini"
                                triggers="mouseenter:mouseleave" class="clickable">
                                <i class="fa fa-link fa-lg"></i></a>

                            <span class="seperator"> | </span>

                            <span *ngIf="_id == list.idOP else bukanOP">


                                <a (click)="edit(list.idPesan)" ngbPopover="Edit pesan" triggers="mouseenter:mouseleave"
                                    class="clickable">
                                    <i class="fa fa-edit fa-lg"></i></a>

                                <span class="seperator"> | </span>

                                <a (click)="alertHapus(list.idAnswer)" ngbPopover="Hapus　pesan"
                                    triggers="mouseenter:mouseleave" class="clickable"><i
                                        class="fa fa-trash-o fa-lg"></i></a>

                            </span>

                            <ng-template #bukanOP>

                                <a (click)="balas(list.idPesan)" ngbPopover="Balas pesan ini"
                                    triggers="mouseenter:mouseleave" class="clickable">
                                    <i class="fa fa-comment-o fa-lg"></i></a>

                            </ng-template>

                        </div>
                        <!-- bottom end -->

                    </div>

                    <hr>

                </mat-list-item>
            </mat-list>
        </div>



        <br>
        <div>
            <table class="d-flex justify-content-end">
                <tr *ngIf="listPesan.length > 0" style="font-size: 50%;">
                    <h5 style="color: rgb(0, 0, 0); text-align: center;">Tampilkan
                        <select [(ngModel)]="show" (change)="ngOnInit(id)" class="page-item">
                            <option value="5">5</option>
                            <option value="10">10</option>
                            <option value="20">20</option>
                            <option value="50">50</option>
                            <option value="100">100</option>
                        </select></h5>
                </tr>
            </table>
        </div>
        <div class="card-title">
            <div #pagination *ngIf="page.length > 1">
                <h1 style="text-align: right;">
                    Page: <span *ngFor="let i of page"><a *ngIf="i != crnPage else disabled_link" (click)="next_page(i)"
                            class="clickable"><u>{{i}}</u></a>
                        <ng-template #disabled_link>{{i}}</ng-template><a *ngIf="i != page.length">, </a>
                    </span>
                </h1>
            </div>
        </div>

        <div #input *ngIf="logged_in else not_logged">
            <div *ngIf="Edit == false; else edit_msg">Tinggalkan balasan </div>
            <ng-template #edit_msg> Edit Pesan </ng-template>
            <div class="card">
                <div style=" width: 85%; margin: 0 auto;">
                    Isi pesan:*
                    <editor [init]="TinyMce" [(ngModel)]="isiKirim.isi_pesan" data="isiKirim.isi_pesan" id="editor">
                    </editor>
                </div>
                <button *ngIf="!Edit else editButton" [disabled]="isiKirim.isi_pesan.length < 12"
                    (click)="kirim()">Kirim</button>
            </div>
        </div>

    </div>

</div>

<ng-template #balasan_kosong>
    <p class="text-center">
        Wah belum ada yang balas nih. Jadilah orang yang pertama untuk membalas forum ini!
    </p>
</ng-template>

<ng-template #not_logged>
    <h4 class="card-text" style="text-align: center">
        Kamu harus login terlebih dahulu sebelum dapat membalas atau mengirim pesan ke forum ini!
        <button (click)="toLogin()" mat-raised-button>Login</button>
    </h4>
</ng-template>

<ng-template #err404>
    <mat-card>
        <img mat-card-image class="img-rounded" src="assets/images/err.jpg">
        <mat-card-content style="text-align: center;">
            <h1 class="text-danger">404</h1>
            <h1 class="text-danger">Halaman Tidak Ditemukan</h1>
            <small>Wah, halaman yang kamu cari tidak ada :(
                Silahkan periksa kembali link yang dimasukkan.
                Atau <button (click)="back()" mat-raised-button>
                    Kembali ke daftar forum
                </button></small>
        </mat-card-content>
    </mat-card>

</ng-template>

<ng-template #editButton><button [disabled]="isiKirim.isi_pesan.length < 12" (click)="confirm_edit()">Edit</button>
</ng-template>