<div class="container-fluid">

    <nav-bar [root]="root" current="{{metadata.judul}}"></nav-bar>



    <div *ngIf="!notFound else err404">

        <!-- ban status  -->
        <div *ngIf="ban.status">
            <h1 style="font-size: 100px; text-align: center;"><span class="badge badge-danger">Banned</span></h1>
        </div>
        <!-- ban status end -->

        <!-- main title -->
        <h1 id="main-title">{{metadata.judul}}</h1>
        <h4 id="main-op">Main OP: {{metadata.originalPoster}}</h4>
        <!-- main title end -->

        <!-- MAIN MESSAGE -->

        <div class="c-mbody" *ngIf="!ban.status else bannedMessage">

            <!-- top -->
            <div class="top-mbody">

                <small *ngIf="metadata.lastEdited != null" ngbPopover="{{verboseTime(metadata.lastEdited)}}"
                    triggers="mouseenter:mouseleave" popoverTitle="Terakhir di Edit" class="time-info edited">(Edited)
                </small>

                <small class="time-info">{{verboseTime(metadata.createdDate)}}</small>
            </div>
            <!-- top end -->

            <!-- main -->
            <div class="row">

                <!-- user info -->
                <div class="col-md-1 user-info">
                    <img #img [src]="metadata.ProfilePicture" class="p-profile">
                    <div class="d-profile">
                        <span class="card-title n-profile">{{metadata.originalPoster}}
                        </span>
                    </div>
                </div>
                <!-- user info end -->

                <!-- main message -->
                <div class="col-md-auto  m-mbody">
                    <p class="card-text" [innerHTML]="metadata.pesanUtama" style="margin-top: 20px;"></p>
                </div>
                <!-- main message end -->

            </div>
            <!-- main end -->

            <!-- bottom -->
            <div class="bottom-mbody">

                <a (click)="reportForum()" ngbPopover="Laporkan forum ini" triggers="mouseenter:mouseleave"
                    class="clickable">
                    <i class="fa fa-exclamation fa-lg"></i></a>

                <span *ngIf="_id == metadata.idOP">
                    <span class="seperator"> | </span>

                    <a (click)="editForum()" ngbPopover="Edit forum" triggers="mouseenter:mouseleave" class="clickable">
                        <i class="fa fa-edit fa-lg"></i></a>
                </span>

                <span *ngIf="is_admin">
                    <span class="seperator"> | </span>

                    <a (click)="banForum()" ngbPopover="Ban forum" triggers="mouseenter:mouseleave" class="clickable">
                        <i class="fa fa-ban fa-lg"></i></a>
                </span>

            </div>
            <!-- bottom end -->

        </div>
        <!-- MAIN MESSAGE END -->


        <br>
        <br>


        <h4><i class="fa fa-commenting fa-2x"></i> Balasan: {{listPesan.length}}</h4>


        <div class="listbox" #semua_balasan *ngIf="listPesan.length > 0 else balasan_kosong">
            <mat-list role="list">
                <mat-list-item role="listitem"
                    *ngFor="let list of listPesan | slice: (crnPage - 1) * show: (crnPage - 1) * show + show">




                    <div class="container-fluid c-mbody" id="{{list.idPesan}}">

                        <!-- top -->
                        <div class="top-mbody">
                            <span *ngIf="list.ban.status" style="font-size: 15px;"><span
                                    class="badge badge-danger">Banned</span>&nbsp;</span>

                            <small *ngIf="list.lastEdited != null && !list.ban.status"
                                ngbPopover="{{verboseTime(list.lastEdited)}}" triggers="mouseenter:mouseleave"
                                popoverTitle="Terakhir di Edit" class="time-info edited">(Edited)
                            </small>

                            <small class="time-info">{{ verboseTime(!list.ban.status ?list.createdDate:
                                list.ban.ban_Date)}}</small>
                        </div>
                        <!-- top end -->

                        <!-- main -->
                        <div class="row">

                            <!-- user info -->
                            <div class="col-md-1 user-info">
                                <img #img [src]="list.ProfilePicture" class="p-profile">
                                <div class="d-profile">
                                    <span class="card-title n-profile">{{list.originalPoster}}
                                    </span>
                                </div>
                            </div>
                            <!-- user info end -->

                            <!-- main message -->
                            <div class="col-md-auto m-mbody">
                                <p *ngIf="!list.ban.status else bannedMsg" class="card-text" [innerHTML]="list.isiPesan"
                                    style="margin-top: 20px;"></p>
                                <ng-template #bannedMsg>
                                    Pesan ini sudah di ban dengan alasan:
                                    <blockquote>{{list.ban.reason}}</blockquote>
                                    Oleh: {{list.ban.banner.originalPoster}}
                                    <blockquote>{{verboseTime(list.ban.ban_Date)}}</blockquote>
                                </ng-template>
                            </div>
                            <!-- main message end -->

                        </div>
                        <!-- main end -->

                        <!-- bottom -->
                        <div class="bottom-mbody" *ngIf="!list.ban.status">

                            <a (click)="copylink(list.idPesan)" ngbPopover="Salin link pesan ini"
                                triggers="mouseenter:mouseleave" class="clickable">
                                <i class="fa fa-link fa-lg"></i></a>

                            <span class="seperator"> | </span>

                            <a (click)="reportPesan(list.idPesan)" ngbPopover="Laporkan pesan ini" triggers="mouseenter:mouseleave"
                            class="clickable">
                            <i class="fa fa-exclamation fa-lg"></i></a>

                            <span class="seperator"> | </span>

                            <span *ngIf="_id == list.idOP else bukanOP">


                                <a (click)="edit(list.idPesan)" ngbPopover="Edit pesan" triggers="mouseenter:mouseleave"
                                    class="clickable">
                                    <i class="fa fa-edit fa-lg"></i></a>

                                <span class="seperator"> | </span>

                                <a (click)="alertHapus(list.idPesan)" ngbPopover="Hapus pesan"
                                    triggers="mouseenter:mouseleave" class="clickable"><i
                                        class="fa fa-trash-o fa-lg"></i></a>

                            </span>

                            <span *ngIf="is_admin">
                                <span class="seperator"> | </span>

                                <a (click)="banPesan(list.idPesan)" ngbPopover="Ban pesan"
                                    triggers="mouseenter:mouseleave" class="clickable">
                                    <i class="fa fa-ban fa-lg"></i></a>
                            </span>

                            <ng-template #bukanOP>

                                <a (click)="balas(list.idPesan)" ngbPopover="Balas pesan ini"
                                    triggers="mouseenter:mouseleave" class="clickable">
                                    <i class="fa fa-comment-o fa-lg"></i></a>

                            </ng-template>

                        </div>
                        <!-- bottom end -->

                    </div>

                    <hr>

                </mat-list-item>
            </mat-list>
        </div>



        <br>
        <div>
            <table class="d-flex justify-content-end">
                <tr *ngIf="listPesan.length > 0" style="font-size: 50%;">
                    <h5 style="color: rgb(0, 0, 0); text-align: center;">Tampilkan
                        <select [(ngModel)]="show" (change)="ngOnInit(id)" class="page-item">
                            <option value="5">5</option>
                            <option value="10">10</option>
                            <option value="20">20</option>
                            <option value="50">50</option>
                            <option value="100">100</option>
                        </select>
                    </h5>
                </tr>
            </table>
        </div>
        <div class="card-title">
            <div #pagination *ngIf="page.length > 1">
                <h1 style="text-align: right;">
                    Page: <span *ngFor="let i of page"><a *ngIf="i != crnPage else disabled_link" (click)="next_page(i)"
                            class="clickable"><u>{{i}}</u></a>
                        <ng-template #disabled_link>{{i}}</ng-template><a *ngIf="i != page.length">, </a>
                    </span>
                </h1>
            </div>
        </div>

        <div #input *ngIf="logged_in else not_logged">
            <div *ngIf="!ban.status else bannedInput">
                <div>Tinggalkan balasan </div>
                <div class="card">
                    <div style=" width: 95%; margin: 0 auto;">
                        Isi pesan:*
                        <editor [init]="TinyMce" [(ngModel)]="isiKirim.isi_pesan" data="isiKirim.isi_pesan" id="editor">
                        </editor>
                    </div>
                    <div style="width: 100%; margin: 0 auto; justify-content: flex-end; display: flex;">
                        <P>*Syarat: Pesan minimal 5 karakter</P> &nbsp;
                        <button style="color: black; width: fit-content;" class="btn btn-outline-secondary"
                            [disabled]="isiKirim.isi_pesan.length < 12" (click)="kirim()">Kirim</button>
                    </div>
                </div>
            </div>
        </div>

    </div>

</div>

<ng-template #balasan_kosong>
    <p class="text-center">
        Wah belum ada yang balas nih. Jadilah orang yang pertama untuk membalas forum ini!
    </p>
</ng-template>

<ng-template #not_logged>
    <h4 class="card-text" style="text-align: center">
        Kamu harus login terlebih dahulu sebelum dapat membalas atau mengirim pesan ke forum ini!
        <button (click)="toLogin()" mat-raised-button>Login</button>
    </h4>
</ng-template>

<ng-template #err404>
    <mat-card>
        <img mat-card-image class="img-rounded" src="assets/images/err.jpg">
        <mat-card-content style="text-align: center;">
            <h1 class="text-danger">404</h1>
            <h1 class="text-danger">Halaman Tidak Ditemukan</h1>
            <small>Wah, halaman yang kamu cari tidak ada :(
                Silahkan periksa kembali link yang dimasukkan.
                Atau <button (click)="back()" mat-raised-button>
                    Kembali ke daftar forum
                </button></small>
        </mat-card-content>
    </mat-card>

</ng-template>


<ng-template #bannedMessage>

    <div class="c-mbody">

        <!-- top -->
        <div class="top-mbody">

            <small *ngIf="metadata.lastEdited != null" ngbPopover="{{verboseTime(metadata.lastEdited)}}"
                triggers="mouseenter:mouseleave" popoverTitle="Terakhir di Edit" class="time-info edited">(Edited)
            </small>

            <small class="time-info">{{verboseTime(ban.ban_Date)}}</small>
        </div>
        <!-- top end -->

        <!-- main -->
        <div class="row">

            <!-- user info -->
            <div class="col-md-1 user-info">
                <img #img [src]="ban.banner.ProfilePicture" class="p-profile">
                <div class="d-profile">
                    <span class="card-title n-profile">{{ban.banner.originalPoster}}
                    </span>
                </div>
            </div>
            <!-- user info end -->

            <!-- main message -->
            <div class="col-md-auto  m-mbody">
                <h1 class="card-text" style="margin-top: 20px;">
                    Forum ini sudah di ban dengan alasan:
                    <blockquote>{{ban.reason}}</blockquote>
                </h1>
            </div>
            <!-- main message end -->

        </div>
        <!-- main end -->

        <!-- bottom -->
        <div class="bottom-mbody">


        </div>
        <!-- bottom end -->

    </div>

</ng-template>

<ng-template #bannedInput>
    <strong style="margin: auto; text-align: center; display: block;">Kamu tidak dapat membalas forum yang sudah di
        ban</strong>
</ng-template>