<div class="container">
    <div class="row">
        <div class="col-md-2">
            test
        </div>
        <div class="col-md-9" >
            <div *ngIf="!notFound else err404">
                <h5> {{metadata.judul}}</h5>
                <pre *ngIf="metadata.lastEdited != null" style="color: rgb(255, 0, 0);">{{verboseTime(metadata.lastEdited)}}</pre>
                <hr>
                <div class="card-body">
                    <h5 class="card-title">{{metadata.originalPoster}} bertanya...</h5>
                        <td>
                            <img #img [src]="metadata.ProfilePicture" width="50px" height="75px" style="border-radius: 10%;">
        
                        </td>
                        <td>
                            
                                <p class="card-title"   [innerHTML]="metadata.pesanUtama"></p>
                         
                        </td>
                        
                </div>
                <hr>
                <br>
                <h4>Balasan: {{listPesan.length}}</h4>
                    <div #semua_balasan
                        *ngIf="listPesan.length > 0 else balasan_kosong" style="background-color: white;">
                        <mat-list role="list">
                            <mat-list-item role="listitem"
                                *ngFor="let list of listPesan | slice: (crnPage - 1) * show: (crnPage - 1) * show + show">
                                
                                <div class="card-body">
                                    <h5 class="card-title">{{list.originalPoster}} mengatakan: </h5>
                                    <pre *ngIf="list.lastEdited != null" style="float: right; font-size: 80%; color: gray;">{{verboseTime(list.lastEdited)}}</pre>
                                        <td>
                                            <img #img [src]="list.ProfilePicture" width="50px" height="75px" style="border-radius: 10%;">
                        
                                        </td>
                                        <td>
                                            <mat-card-header>
                                                <p class="card-text"   [innerHTML]="list.isiPesan"></p>
                                            </mat-card-header>
                                        </td>
                                        <div style="font-size: 12px/smaller; color: rgb(0, 0, 0); text-align: end;">
                                            <a (click)="copylink(list.idPesan)" style="cursor: pointer; color: orangered;"><u>Link</u></a>
                                            <span style="font-weight: bolder; font-size: 120%; user-select: none;"> | </span>
                                            <span *ngIf="_id == list.idOP else bukanOP">
                                                <a (click)="edit(list.idPesan)" style="cursor: pointer; color: orangered;"><u>Edit</u></a>
                                                <span style="font-weight: bolder; font-size: 120%; user-select: none;"> | </span>
                                                <a (click)="alertHapus(list.idPesan)"
                                                    style="cursor: pointer; color: orangered;"><u>Hapus</u></a>
                                            </span>
                                            <ng-template #bukanOP>
                                                <a (click)="balas(list.idPesan)" style="cursor: pointer; color: orangered;"><u>Balas</u></a>
                                            </ng-template>
                                        </div>
                                </div>
                              
                            </mat-list-item>
                        </mat-list>
                
                    </div>
            
            
                <ng-template #balasan_kosong>
                    <h1 style="color:black; text-align: center; min-height: 30vmax;">Wah belum ada yang balas nih. Jadilah orang
                        yang pertama untuk membalas forum ini!
                    </h1>
                </ng-template>
                <div>
                    <table class="d-flex justify-content-end">
                        <tr *ngIf="listPesan.length > 0" style="font-size: 50%;">
                            <h5 style="color: rgb(0, 0, 0); text-align: center;">Tampilkan
                                <select [(ngModel)]="show" (change)="ngOnInit(id)" class="page-item" >
                                    <option value="5">5</option>
                                    <option value="10">10</option>
                                    <option value="20">20</option>
                                    <option value="50">50</option>
                                    <option value="100">100</option>
                                </select></h5>
                        </tr>
                    </table>
                </div>
                
                <br>

                <div #input *ngIf="logged_in else not_logged">
                    <div *ngIf="Edit == false; else edit_msg"> Tinggalkan jawaban </div>
                    <ng-template #edit_msg> Edit Jawaban </ng-template>
                    <div class="card">
                    <div class="card-title">
                        <div #pagination *ngIf="page.length > 1">
                            <h1 style="text-align: right; color: white;">
                                Page: <span *ngFor="let i of page"><a *ngIf="i != crnPage else disabled_link"
                                        (click)="next_page(i)" style="cursor: pointer; color: orangered;"><u>{{i}}</u></a>
                                    <ng-template #disabled_link>{{i}}</ng-template><a *ngIf="i != page.length">, </a>
                                </span>
                            </h1>
                        </div>
                    </div>
                    <div style=" width: 85%; margin: 0 auto;">
                        Isi pesan:*
            
                        <editor [init]="TinyMce" [(ngModel)]="isiKirim.isi_pesan" data="isiKirim.isi_pesan" id="editor">
                        </editor>
                    </div>
                    <pre style="text-align: right; ">*Syarat: Isi pesan minimal 5 karakter</pre>
                    <button *ngIf="Edit == false; else edit_button" [disabled]="isiKirim.isi_pesan.length < 12"
                    (click)="kirim()" mat-raised-button color="primary">Kirim</button>
                <ng-template #edit_button><button [disabled]="isiKirim.isi_pesan.length < 12"
                        (click)="confirm_edit()" mat-raised-button color="primary">Edit</button>
                </ng-template>
                </div>
                </div>
            </div>

            <ng-template #err404>
                <div style="height: 230px; "></div>
                <div style="color: white; text-align: center; min-width: 600px;">
                    <p>404</p>
                    <p>Not found</p>
                    <div style="height: 20vmax;"></div>
                    <h1>Wah, halaman yang kamu cari tidak ada :( Silahkan periksa kembali link yang dimasukkan. Atau</h1>
                    <button (click)="back()" mat-button>
                        Kembali ke daftar forum
                    </button>
                </div>
            </ng-template>
            
            <ng-template #not_logged>
                <div
                    style="position: sticky; height: 0px; text-align: center;color:black;">
                    <div style="height: 20vmax;"></div>
                    <h1>Kamu harus login terlebih dahulu sebelum dapat membalas atau mengirim pesan ke forum ini!</h1>
                    <button (click)="toLogin()" mat-button>
                        Login
                    </button>
                </div>
            </ng-template>
            
        </div>
    </div>
</div>
