<div class="container-fluid" *ngIf="!unauthorized else unauthorizedAccess" style="background-color: white; color: black;">
  
    <div class="container mb-5">
        <div class="row">
          <div class="col-lg-9">
              <p class="text-info">Halo, {{details.username}}</p>
          </div>
          <div class="col-lg-2">
              <p class="text-danger">Administrator</p>
              <small class="text-muted">User level: {{details.level}}</small>
          </div>
          <div class="col-lg-1">
              <img #img [src]="details.profile_picture" class="p-profile">
          </div>
      </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <mat-card>
                    <mat-card-title>{{statistic.user}}</mat-card-title>
                    <mat-card-subtitle>User terdaftar</mat-card-subtitle>
                </mat-card>
            </div>
            <div class="col-md-4">
                <mat-card>
                    <mat-card-title>{{statistic.banned_user}}</mat-card-title>
                    <mat-card-subtitle>Banned user</mat-card-subtitle>
                </mat-card>
            </div>
            <div class="col-md-4">
                <mat-card>
                    <mat-card-title>{{statistic.online_staff}}</mat-card-title>
                    <mat-card-subtitle>Staff online</mat-card-subtitle>
                </mat-card>
            </div>
        </div>

        <hr>

        <div class="row">
            <div class="col-md-4">
                <mat-card>
                    <mat-card-title>{{statistic.forum}}</mat-card-title>
                    <mat-card-subtitle>Forum terdaftar</mat-card-subtitle>
                </mat-card>
            </div>
            <div class="col-md-4">
                <mat-card>
                    <mat-card-title>{{statistic.banned_forum}}</mat-card-title>
                    <mat-card-subtitle>Banned forum</mat-card-subtitle>
                </mat-card>
            </div>
            <div class="col-md-4">
                <mat-card>
                    <mat-card-title>{{statistic.pesan}}</mat-card-title>
                    <mat-card-subtitle>Pesan terdaftar</mat-card-subtitle>
                </mat-card>
            </div>
        </div>

        <hr>

        <div class="row">
            <div class="col-md-4">
                <mat-card>
                    <mat-card-title>{{statistic.banned_pesan}}</mat-card-title>
                    <mat-card-subtitle>Banned pesan</mat-card-subtitle>
                </mat-card>
            </div>
            <div class="col-md-4">
                <mat-card>
                    <mat-card-title>{{statistic.pertanyaan}}</mat-card-title>
                    <mat-card-subtitle>QnA terdaftar</mat-card-subtitle>
                </mat-card>
            </div>
            <div class="col-md-4">
                <mat-card>
                    <mat-card-title>{{statistic.banned_pertanyaan}}</mat-card-title>
                    <mat-card-subtitle>Banned QnA</mat-card-subtitle>
                </mat-card>
            </div>
        </div>

        <hr>

        <div class="row">
            <div class="col-md-4">
                <mat-card>
                    <mat-card-title>{{statistic.pertanyaan_terjawab}}</mat-card-title>
                    <mat-card-subtitle>QnA terjawab</mat-card-subtitle>
                </mat-card>
            </div>
            <div class="col-md-4">
                <mat-card>
                    <mat-card-title>{{statistic.answer}}</mat-card-title>
                    <mat-card-subtitle>Jawaban terdaftar</mat-card-subtitle>
                </mat-card>
            </div>
            <div class="col-md-4">
                <mat-card>
                    <mat-card-title>{{statistic.banned_answer}}</mat-card-title>
                    <mat-card-subtitle>Banned jawaban</mat-card-subtitle>
                </mat-card>
            </div>
        </div>

        <hr>

        <div class="row">
            <div class="col-md-4">
                <mat-card>
                    <mat-card-title>{{statistic.tags}}</mat-card-title>
                    <mat-card-subtitle>Tags terdaftar</mat-card-subtitle>
                </mat-card>
            </div>
            <div class="col-md-4">

                <mat-card>
                    <mat-card-title>{{statistic.report}}</mat-card-title>
                    <mat-card-subtitle>Laporan terdaftar</mat-card-subtitle>
                </mat-card>
            </div>
            <div class="col-md-4">
                <mat-card>
                    <mat-card-title>{{statistic.advice}}</mat-card-title>
                    <mat-card-subtitle>Saran terdaftar</mat-card-subtitle>
                </mat-card>
            </div>
        </div>

        <hr>

        <div class="row">
            <div class="col-md-6">
                <mat-card>
                    <mat-card-title>{{statistic.handled_report}}</mat-card-title>
                    <mat-card-subtitle>Laporan ditangani</mat-card-subtitle>
                </mat-card>
            </div>
            <div class="col-md-6">
                <mat-card>
                    <mat-card-title>{{statistic.unhandled_report}}</mat-card-title>
                    <mat-card-subtitle>Laporan belum ditangani</mat-card-subtitle>
                </mat-card>
            </div>
        </div>
    </div>
<br><br><br>
</div>
<br>
<ng-template #unauthorizedAccess class="overlay">
    <div class="overlay-content"> Unauthorized! </div>
</ng-template>

<ng-template *ngIf="check == 0" class="overlay">
    <div class="overlay-content"> Authorization Initializing... </div>
</ng-template>