.button-aksi {
    background-color: #e9ecef;
    border-radius: 2px;
    width: min-content;
}

.time-info {
    color: rgb(99, 99, 99);
    font-weight: lighter;
    user-select: none;
}

.edited {
    font-weight: bold;
}

.question-title {
    cursor: pointer;
}

.answered-question {
    padding-left: 10px;
    color: white;
    user-select: none;
}

#mainbox {
    margin: auto auto
}

.card-pertanyaan {
    overflow-wrap: break-word;
    word-wrap: break-word;
}

.tagify--outside {
    color: black;
    background-color: white;
    border: 0;
}

.tagify--outside .tagify__input {
    order: -1;
    flex: 100%;
    border: 1px solid var(--tags-border-color);
    margin-bottom: 1em;
    transition: .1s;
}

.tagify--outside .tagify__input:hover {
    border-color: var(--tags-hover-border-color);
}

.tagify--outside.tagify--focus .tagify__input {
    transition: 0s;
    border-color: var(--tags-focus-border-color);
}