.button-aksi {
    background-color: #e9ecef;
    border-radius: 2px;
    width: min-content;
}

.time-info {
    color: rgb(99, 99, 99);
    font-weight: lighter;
    user-select: none;
}

.edited {
    font-weight: bold;
}

.question-title {
    cursor: pointer;
}

.answered-question {
    padding-left: 10px;
    color: white;
    user-select: none;
}

#mainbox{
    margin: auto auto
}