<div class="container-fluid">

    <nav-bar current="List Forum"></nav-bar>

    <div id="mainbox" class="container">

        <div *ngIf="!showRightBar else rightBar"></div>

        <div id="listbox">
            <!--showRightBar == true ? class="col-md-10"-->


            <div class="btn-group" style="float: right;">
                <button (click)="tambah()" style="color: black;" class="btn btn-outline-secondary">Buat
                    Forum Baru</button>&nbsp;
                <div ngbDropdown class="d-inline-block">

                    <button ngbPopover="Filter list forum" triggers="mouseenter:mouseleave"
                        class="btn btn-outline-secondary" data-toggle="tooltip" data-placement="bottom" title="Filter"
                        id="dropdownBasic1" (click)="showFilters()">
                        <i class="fa fa-filter" aria-hidden="true"></i>
                    </button>

                </div>
            </div>
            <h1>Daftar Forum</h1>
            <hr>

            <div class="list-forum">

                <div class="list-group" *ngIf="listForum.length > 0 else forum_kosong" role="list">
                    <div class="list-group-item"
                        *ngFor="let list of listForum | slice: (crnPage - 1) * show: (crnPage - 1) * show + show">
                        <div class="card-forum">

                            <div *ngIf="_id == list.idOP" class="btn-group" style="float: right; padding-right: 20px;"
                                ngbDropdown>

                                <div ngbDropdown class="d-inline-block">
                                    <button class="btn" ngbDropdownToggle>
                                        <i class="fa fa-ellipsis-h" aria-hidden="true"></i>
                                    </button>
                                    <div *ngIf="_id == list.idOP" ngbDropdownMenu aria-labelledby="navbarDropdown2"
                                        class="dropdown-menu dropdown-menu-left">
                                        <button type="button" class="btn btn-primary" ngbDropdownItem
                                            (click)="edit(list.idForum)">
                                            <i class="fa fa-pencil" aria-hidden="true"></i>&nbsp; Edit</button>
                                        <a class="btn btn-danger" ngbDropdownItem
                                            (click)="alertHapus(list.idForum, list.namaForum)">
                                            <i class="fa fa-trash-o" aria-hidden="true"></i>&nbsp; Hapus</a>
                                    </div>
                                </div>
                            </div>

                            <div class="card-body">
                                <div class="row">

                                    <div class="col-md-1">

                                        <!-- start Button Respon Viewers -->
                                        <div class="button-aksi">

                                            <a *ngIf="!list.liked.includes(_id) else unlike"
                                                class="btn btn-ouline-secondary" (click)="like(list.idForum)"
                                                data-toggle="tooltip" data-placement="left"
                                                title="{{list.liked.length}} kali disukai. Berikan forum ini like kamu">
                                                <i class="fa fa-thumbs-o-up fa-2x"></i><br>{{list.liked.length}}</a>

                                            <ng-template #unlike>

                                                <a class="btn btn-ouline-secondary" (click)="like(list.idForum)"
                                                    data-toggle="tooltip" data-placement="left"
                                                    title="{{list.liked.length}} kali disukai. Kamu suka forum ini!">
                                                    <i style="color: blue;"
                                                        class="fa fa-thumbs-o-up fa-2x"></i><br>{{list.liked.length}}
                                                </a>

                                            </ng-template>

                                            <a class="btn btn-ouline-secondary" (click)="buka(list.idForum)"
                                                data-toggle="tooltip" data-placement="left"
                                                title="{{list.responses}} total balasan. Buka forum untuk membalas">
                                                <i class="fa fa-commenting fa-2x"></i><br>{{list.responses}}</a>

                                            <a class="btn btn-ouline-secondary" (click)="buka(list.idForum)"
                                                data-toggle="tooltip" data-placement="left"
                                                title="{{list.viewed.length}} kali dilihat.">
                                                <i class="fa fa-eye fa-2x"></i><br>{{list.viewed.length}}</a>
                                        </div>
                                        <!-- end button respon viewer -->

                                    </div>

                                    <div class="col-md-11">
                                        <a class="nav-link" (click)="buka(list.idForum)">
                                            <h2 class="card-title forum-title" [innerHTML]="list.namaForum"></h2>

                                        </a>
                                        <p class="card-title" (click)="buka(list.idForum)" style="padding-left:10px;">Original Poster:
                                            {{list.originalPoster}}
                                        </p>

                                        <h5 class="time-info" (click)="buka(list.idForum)"><span *ngIf="list.lastEdited != null"
                                                ngbPopover="{{getDate(list.lastEdited)}}"
                                                triggers="mouseenter:mouseleave" popoverTitle="Terakhir di Edit"
                                                class="time-info edited">(Edited)</span>{{getDate(list.createdDate)}}
                                        </h5>


                                        <div class="button-tag">
                                            <span *ngFor="let tag of list.tagList">

                                                <a class="btn btn-sm btn-secondary mr-2"
                                                    [ngbPopover]="tag.tagDescription" triggers="mouseenter:mouseleave"
                                                    [popoverTitle]="tag.value" (click)="searchTag(tag.value)" role="button">{{tag.value}}</a>

                                            </span>
                                        </div>



                                    </div>

                                </div>
                            </div>

                        </div>

                    </div>
                </div>
                <nav aria-label="Page navigation example">
                    <div #pagination *ngIf="page.length > 1">
                        <h3 style="text-align: right;">
                            Page: <span *ngFor="let i of page">
                                <a *ngIf="i != crnPage else disabled_link" style="cursor: pointer; color: orangered;"
                                    (click)="next_page(i)">{{i}}</a>
                                <ng-template #disabled_link>{{i}}</ng-template>
                                <a *ngIf="i != page.length">, </a>
                            </span>
                        </h3>
                    </div>
                </nav>
            </div>
        </div>



        <br>


    </div>
</div>
<br>

<ng-template #forum_kosong>
    <span style="color: white; text-align: center; font-size: 200%;">
        <p style="color: black;">Wah sepertinya belum ada forum nih, ayo kita mulai forum baru!
            <br><br><button style="background-color: black; color: white;" (click)="tambah()" mat-button>
                Buat Forum Baru
            </button></p>
    </span>
</ng-template>


<ng-template #rightBar>

    <div class="col-md-3">

        <div class="blog__sidebar__tags">

            <h4><b>Tampilkan</b></h4>

            <mat-accordion>
                <mat-expansion-panel (opened)="panelOpenState = true" (closed)="panelOpenState = false">

                    <mat-expansion-panel-header>
                        <mat-panel-title> Paginnation </mat-panel-title>
                    </mat-expansion-panel-header>

                    <div style="text-align: center;">
                        Menampilkan {{show}} judul
                        <input type="radio" name="pagination" style="color: white;" (click)="pagination(5)">&nbsp;&nbsp;&nbsp;5 <br>
                        <input type="radio" name="pagination" style="color: white;" (click)="pagination(10)"> 10 <br>
                        <input type="radio" name="pagination" style="color: white;" (click)="pagination(20)"> 20 <br>

                        <p> Input Manual :</p>
                        <form (submit)="pagination(inputShow, true)" action="#">
                            <input type="number" [(ngModel)]="inputShow" style="width: 3vw; text-align: center;"
                                name="show">
                            <button type="submit" [disabled]='inputShow < 1' style="color: white;"
                                class="btn btn-outline-secondary">Go</button>
                        </form>

                    </div>

                </mat-expansion-panel>
            </mat-accordion>


            <br>


            <mat-accordion>
                <mat-expansion-panel (opened)="panelOpenState = true" (closed)="panelOpenState = false">
                    <mat-expansion-panel-header>
                        <mat-panel-title>
                            Berdasarkan Tag
                        </mat-panel-title>
                    </mat-expansion-panel-header>

                    <div *ngIf="tagsLoaded else tagLoading">
                        <div class="tagify--outside">
                          <tagify name="tagify" (change)="tagChange($event)" class="tags" [settings]="TagifySettings">
                          </tagify>
                        </div>
                      </div>
                </mat-expansion-panel>
            </mat-accordion>

            <br>

            <mat-accordion>
                <mat-expansion-panel (opened)="panelOpenState = true" (closed)="panelOpenState = false">
                  <mat-expansion-panel-header>
                    <mat-panel-title>
                      Urutkan berdasarkan
                    </mat-panel-title>
                  </mat-expansion-panel-header>
        
                  <div style="text-align: center;">
                    <div class="row">
                      <div class="col-md-1"><input type="radio" name="sortBy" style="color: white;" (click)="sort('date')"></div>
                      <div class="col-md-auto">Tanggal</div>
                    </div>
        
                    <div class="row">
                      <div class="col-md-1"><input type="radio" name="sortBy" style="color: white;" (click)="sort('like')"></div>
                      <div class="col-md-auto">Disukai</div>
                    </div>
        
                    <div class="row">
                      <div class="col-md-1"><input type="radio" name="sortBy" style="color: white;" (click)="sort('reply')"></div>
                      <div class="col-md-auto">Dibalas</div>
                    </div>
                    
                    <div class="row">
                      <div class="col-md-1"><input type="radio" name="sortBy" style="color: white;" (click)="sort('view')"></div>
                      <div class="col-md-auto">Dilihat</div>
                    </div>
                  </div>
        
                  <mat-slide-toggle (change)="sortDesc = !sortDesc; ngOnInit()">{{!sortDesc ? 'Ascending' : 'Descending'}}</mat-slide-toggle>
        
                </mat-expansion-panel>
              </mat-accordion>


        </div>
        <br>

    </div>
</ng-template>

<ng-template #tagLoading>Memuat Tags...</ng-template>