<div class="container">
  <nav style="--bs-breadcrumb-divider: '>';" aria-label="breadcrumb">
    <ol class="breadcrumb">
      <li class="breadcrumb-item"><a routerLink='home'>Home</a></li>
      <li class="breadcrumb-item active" aria-current="page">Daftar Pertanyaaan</li>
    </ol>
  </nav>
  <div class="row">
    <div class="col-md-3">
      <div class="blog__sidebar__tags">
        <h4><b>Aturan dalam bertanya</b></h4>
        <mat-accordion>
          <mat-expansion-panel (opened)="panelOpenState = true" (closed)="panelOpenState = false">
            <mat-expansion-panel-header>
              <mat-panel-title>
                Rangkum permasalahan
              </mat-panel-title>
            </mat-expansion-panel-header>
            <p>Sertakan detail tentang tujuan anda</p>
            <p>Jelaskan hasil yang diharapkan dengan jelas</p>
            <p>Sertakan pesan kesalahan apa pun</p>
          </mat-expansion-panel>
        </mat-accordion>
        <br>
        <mat-accordion>
          <mat-expansion-panel (opened)="panelOpenState = true" (closed)="panelOpenState = false">
            <mat-expansion-panel-header>
              <mat-panel-title>
                Sertakan referensi
              </mat-panel-title>
            </mat-expansion-panel-header>
            <p>Tunjukkan apa yang telah anda coba dan beri tahu apa yang anda temukan (di situs ini
              atau di tempat lain) dan mengapa hal itu tidak memenuhi kebutuhan anda. Anda mungkin
              mendapatkan jawaban yang lebih baik apabila memberikan referensi tambahan</p>
          </mat-expansion-panel>
        </mat-accordion>
        <br>
        <mat-accordion>
          <mat-expansion-panel (opened)="panelOpenState = true" (closed)="panelOpenState = false">
            <mat-expansion-panel-header>
              <mat-panel-title>
                Tuliskan kode bila perlu
              </mat-panel-title>
            </mat-expansion-panel-header>
            <p>Jika dibutuhkan tuliskan kode yang sudah dibuat agar masalah anda dapat lebih dimengerti</p>
          </mat-expansion-panel>
        </mat-accordion>
      </div>
      <br>
      <div class="blog__sidebar__tags">

        <h1>Tag populer</h1>
        <a href="#">CSS</a>
        <a href="#">HTML</a>
        <a href="#">PHP</a>
        <a href="#">JavaScript</a>
        <a href="#">C++</a>
        <a href="#">NodeJS</a>
        <a href="#">C</a>
        <a href="#">C#</a>
      </div>
    </div>
    <div class="col-md-9">
      <div class="btn-group" style="float: right;">
        <button (click)="tambah()" style="color: black;" class="btn btn-outline-secondary">Tambah Forum</button> &nbsp;
        <div ngbDropdown class="d-inline-block">
          <button style="color: black;" class="btn btn-outline-secondary" data-toggle="tooltip" data-placement="bottom"
            title="Custom.." id="dropdownBasic1" ngbDropdownToggle>
            <i class="fa fa-cog" aria-hidden="true"></i>
          </button>
          <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
            <button ngbDropdownItem>Backend</button>
            <button ngbDropdownItem>Frontend</button>
          </div>
        </div>
      </div>
      <h1>Daftar Forum</h1>
      <hr>

      <div class="card-pertanyaan">
        <div class="list-group" *ngIf="listForum.length > 0 else forum_kosong" role="list">
          <div class="list-group-item" *ngFor="let list of listForum | slice: (crnPage - 1) * 5: (crnPage - 1) * 5 + 5">
            <div class="btn-group" style="float: right; padding-right: 20px;" ngbDropdown>
              <div ngbDropdown class="d-inline-block">
                <button class="btn" ngbDropdownToggle>
                  <i class="fa fa-ellipsis-h" aria-hidden="true"></i>
                </button>
                <div ngbDropdownMenu aria-labelledby="navbarDropdown2" class="dropdown-menu dropdown-menu-left">
                  <button type="button" class="btn btn-primary" ngbDropdownItem *ngIf="_id == list.idOP"
                    (click)="edit(list.idForum)">
                    <i class="fa fa-pencil" aria-hidden="true"></i>&nbsp; Edit</button>
                  <a class="btn btn-danger" ngbDropdownItem *ngIf="_id == list.idOP"
                    (click)="alertHapus(list.idForum, list.namaForum)">
                    <i class="fa fa-trash-o" aria-hidden="true"></i>&nbsp; Hapus</a>
                </div>
              </div>
            </div>

            <div class="card-body">
              <div class="row">
                <div class="col-md-7">
                  <a class="nav-link" (click)="buka(list.idForum)">
                    <h2 class="card-title" [innerHTML]="list.namaForum"></h2>
                  </a>
                  <p class="card-title" style="padding-left:10px;">{{list.originalPoster}} </p>
                  <div class="button-tag">
                    <a class="btn btn-sm btn-secondary mr-2" ngbPopover="Hallo ini JavaScript!"
                      triggers="mouseenter:mouseleave" popoverTitle="JavaScript" href="#" role="button">JavaScript</a>
                    <a class="btn btn-sm btn-secondary mr-2" ngbPopover="Hallo ini JavaScript!"
                      triggers="mouseenter:mouseleave" popoverTitle="JavaScript" href="#" role="button">JavaScript</a>
                  </div>
                  <!-- start Button Respon Viewers -->
                  <div class="button-aksi">

                    <a *ngIf="!list.liked.includes(_id) else unlike" class="btn btn-ouline-secondary" (click)="like(list.idForum)"
                      data-toggle="tooltip" data-placement="left" title="Berikan forum ini like kamu">
                      <i class="fa fa-thumbs-o-up fa-2x"></i> Disukai oleh {{list.liked.length}} orang </a>

                    <ng-template #unlike>
                      
                      <a class="btn btn-ouline-secondary" (click)="like(list.idForum)"
                      data-toggle="tooltip" data-placement="left" title="Kamu suka forum ini!">
                      <i style="color: blue;" class="fa fa-thumbs-o-up fa-2x"></i>Disukai oleh {{list.liked.length}} orang</a>

                    </ng-template>

                    <a class="btn btn-ouline-secondary" (click)="buka(list.idForum)" data-toggle="tooltip" data-placement="left"
                      title="Buka forum untuk membalas">
                      <i class="fa fa-commenting fa-2x"></i> {{list.responses}} Balasan</a>

                    <a class="btn btn-ouline-secondary" (click)="buka(list.idForum)" data-toggle="tooltip"
                      data-placement="left" title="Buka forum">
                      <i class="fa fa-eye fa-2x"></i> Dilihat {{list.viewed.length}} kali</a>
                  </div>
                  <!-- end button respon viewer -->
                </div>

              </div>
            </div>
          </div>
          <nav aria-label="Page navigation example">
            <div #pagination *ngIf="page.length > 1">
              <h3 style="text-align: right;">
                Page: <span *ngFor="let i of page">
                  <a *ngIf="i != crnPage else disabled_link" style="cursor: pointer; color: orangered;"
                    (click)="next_page(i)">{{i}}</a>
                  <ng-template #disabled_link>{{i}}</ng-template>
                  <a *ngIf="i != page.length">, </a>
                </span>
              </h3>
            </div>
          </nav>
        </div>
      </div>
      <br>

      <ng-template #forum_kosong>
        <span style="color: white; text-align: center; font-size: 200%;">
          <p>Wah sepertinya belum ada forum nih, ayo kita mulai sebuah forum!
            <br><br><button (click)="tambah()" mat-button>
              Buat Forum
            </button></p>
        </span>
      </ng-template>
    </div>
  </div>
  <br>