<div *ngIf="!unauthorized else unauthorizedAccess" class="container-fluid">
    <nav-bar current="Admin Panel"> </nav-bar>
    <mat-drawer-container id="admin-drawer-container">
        <mat-drawer mode="side" id="admin-drawer" opened>
            <div class="user-info">
                <img #img [src]="details.profile_picture" class="p-profile">
                <div class="d-profile">
                    <span class="card-title n-profile">{{details.username}}
                    </span>
                </div>
            </div>

            <!-- admin / mod info end -->

            <div id="nav-button-holder">
                <a (click)="activePage = 'home'" class="nav-link" style="border-bottom: 1px solid rgb(255, 253, 253);">Admin
                    home</a>

                <a (click)="activePage = 'report'" class="nav-link"style="border-bottom: 1px solid rgb(255, 253, 253);">Laporan</a>

                <a (click)="activePage = 'manage_tags'" class="nav-link"style="border-bottom: 1px solid rgb(255, 253, 253);">Tags</a>

                <a (click)="activePage = 'advice_inbox'" class="nav-link"style="border-bottom: 1px solid rgb(255, 253, 253);">Kotak Saran</a>
            </div>

        </mat-drawer>

        <mat-drawer-content>
            <div [ngSwitch]="activePage">

                <div *ngSwitchCase="'home'">
                    <admin-home></admin-home>
                </div>

                <div *ngSwitchCase="'report'">
                    <admin-report></admin-report>
                </div>

                <div *ngSwitchCase="'manage_tags'">
                    <admin-tags></admin-tags>
                </div>

                <div *ngSwitchCase="'advice_inbox'">
                    <admin-advice></admin-advice>
                </div>

                <div *ngSwitchDefault>
                    <admin-home></admin-home>
                </div>
            </div>
        </mat-drawer-content>
    </mat-drawer-container>
    </div>


<ng-template #unauthorizedAccess class="overlay">
    <div class="overlay-content"> Unauthorized! </div>
</ng-template>

<ng-template *ngIf="check == 0" class="overlay">
    <div class="overlay-content"> Authorization Initializing... </div>
</ng-template>