@keyframes fadeIn {
    0% {
        background-color: #df9800;
    }
    100% {
        background-color: white;
    }
}

blockquote {
    border-left: 2px solid rgba(0, 0, 255, 0.349);
    text-align: left;
    border-radius: 2px;
    font-size: 70%;
    background: #f5f5f5;
    padding: 7px;
    font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande", "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
    width: 100%;
}

#main-title {
    font-weight: bold;
    text-align: center;
}

#main-op {
    text-align: center;
}

pre {
    width: 100vw;
    max-width: 100%;
    overflow: hidden;
}

.dialog-time-info {
    color: rgb(99, 99, 99);
    font-weight: lighter;
    user-select: none;
    text-decoration: underline;
    text-decoration-color: rgb(0, 204, 255);;
}

.dialog-edited {
    font-weight: bold;
    cursor: help;
}


/************************************************************/


.dialog-c-mbody {
    /* border-top: 1px solid rgb(0, 204, 255); */
    background-color: whitesmoke;
    color: black;
    margin-bottom: 1vh;
    border-radius: 2px;
}

.dialog-top-mbody {
    /* border-bottom: 1px solid #e9ecef; */
    /* border-radius: 2px; */
    padding-right: 1vw;
    text-align: end;
    /* background-color:#e9ecef; */
}

.dialog-user-info {
    /* border-right: 1px solid rgb(0, 204, 255); */
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#main-msg .dialog-user-info{
    border-right: 1px solid rgb(0, 204, 255);
}


.dialog-p-profile {
    border-radius: 50%;
    width: 10vw;
    height: auto;
    max-width: 100%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.dialog-d-profile {
    font: bolder;
    font-size: x-large;
    text-align: center;
}

.dialog-n-profile {
    font-size: medium;
    height: auto;

}

.dialog-outer-m-mbody {
    /* display: flex;
    flex-direction: column;
    justify-content: center; */
    /* border-right: 1px solid rgb(0, 204, 255); */
    border-left: 1px solid rgb(0, 204, 255);
    overflow-wrap: break-word;
    width: 100vw;
    max-width: 80%;
}

.dialog-bottom-outer-mbody{
    border-top: 1px solid rgb(0, 204, 255);
}

.dialog-bottom-mbody {
    /* border-top: 1px solid rgb(0, 204, 255); */
    /* border-bottom: 1px solid rgb(0, 204, 255); */
    padding-right: 1vw;
    text-align: end;
}

/************************************************************/

.dialog-vote-btn {
    cursor: pointer;
}

.dialog-vote-info {
    user-select: none;
    margin: auto auto;
    text-align: center;
}
