<div class="parallax top-home"></div>

<div class="bg-text" style="overflow-wrap: break-word; word-wrap: break-word; width: 60vw">
  <p style="font-size:6vw; font-family: Georgia, 'Times New Roman', Times, serif;">Itwebforum</p>
  <br>
  <br>
  <p>Forumnya anak Fasilkom-TI</p>
  <!-- <a routerLink='/forum' class="btn btn-primary mr-2"><i class="fa fa-globe">&nbsp;Daftar Forum</i> </a>
  <a routerLink='/qna' class="btn btn-primary mr-2"><i class="fa fa-comments-o">&nbsp;Daftar Pertanyaan</i> </a>
  <a routerLink='/compilerun' class="btn btn-primary mr-2"><i class="fa fa-file-code-o">&nbsp;Jalankan Kode</i> </a> -->
</div>

<div class="container-fluid mt-5">
  <div class="card text-center card text-center bg-transparant mb-3" >
    <div class="card-body">
      <h3 class="card-text" style=" font-size: 25px; font-weight: lighter;">Adalah website dimana para programmer Fasilkom-TI dapat berdiskusi  menjawab pertanyaan yang terkait dalam bidang pemrograman. 
        Fitur Forum dan Pertanyaan memiliki tag sesuai dengan topik permasalahan.</h3>
      <a routerLink='/forum' class="btn btn-primary mr-2"><i class="fa fa-globe">&nbsp;Daftar Forum</i> </a>
      <a routerLink='/qna' class="btn btn-primary mr-2"><i class="fa fa-comments-o">&nbsp;Daftar Pertanyaan</i> </a>
      <br>
<br>
      <p class="card-text" style="font-size: 25px; font-weight: lighter;">Pada fitur Q & A semua pertanyaan tergolong dalam tiga kategori pertanyaan</p>
      <a [routerLink]="['/qna']" [queryParams]="{show: 'f'}" class="btn btn-primary mr-2">Frontend</a>
      <a [routerLink]="['/qna']" [queryParams]="{show: 'fb'}" class="btn btn-success mr-2">Frontend dan Backend</a>
      <a [routerLink]="['/qna']" [queryParams]="{show: 'b'}" class="btn btn-secondary">Backend</a>
    </div>

  </div>
  <br>  
  <div class="card">
    <div class="card-header bg-info">
      <div class="row">
        <h2 class="text-start">
          Statistik Forum
        </h2>
      </div>
    </div>
    <div class="card-body">
      <div class="container">
        <ngb-accordion #acc="ngbAccordion">
          <ngb-panel id="toggle-1">
            <ng-template ngbPanelTitle>
              <span><i class="fa fa-question-circle-o">&nbsp;</i>Forum</span>
            </ng-template>
            <ng-template ngbPanelContent>
              <div class="row">
                <div class="col-sm">
                  <b>Jumlah forum terdaftar :</b> {{totalForum}}
                </div>
                <div class="col-sm">
                  <b>Jumlah balasan forum :</b>  {{totalPesan}}
                </div>
              </div>
            </ng-template>
          </ngb-panel>
          <ngb-panel id="toggle-2">
            <ng-template ngbPanelTitle>
              <span><i class="fa fa-question-circle">&nbsp;</i>Q & A</span>
            </ng-template>
            <ng-template ngbPanelContent>
              <div class="row">
                <div class="col-sm">
                  <b>Jumlah Pertanyaan :</b> {{totalPertanyaan}}
                </div>
                <div class="col-sm">
                  <b>Jumlah balasan forum :</b>  {{totalPesan}}
                </div>
                <div class="col-sm">
                  <b>Jumlah Pertanyaan Terjawab : </b>{{pertanyaanTerjawab}}
                </div>
              </div>
            </ng-template>
          </ngb-panel>
          <ngb-panel id="toggle-3">
            <ng-template ngbPanelTitle>
              <span><i class="fa fa-users">&nbsp;</i>Lainnya</span>
            </ng-template>
            <ng-template ngbPanelContent>
              <div class="row">
                <div class="col-sm">
                  <b>Jumlah Pengguna Terdaftar :</b> {{totalPenggunaTerdaftar}}
                </div>
                <div class="col-sm">
                  <b>Jumlah Tag Terdaftar :</b>  {{totalTag}}
                </div>
  
              </div>
            </ng-template>
          </ngb-panel>
        </ngb-accordion>
      </div>
    </div>
  </div>
  <br>
</div>