<div class="parallax top-home"></div>

<div class="bg-text" style="overflow-wrap: break-word; word-wrap: break-word; width: 60vw">
  <p style="font-size:6vw; font-family: Georgia, 'Times New Roman', Times, serif;">Itwebforum</p>
  <br>
  <br>
  <p>Forumnya anak Fasilkom-TI</p>
  <!-- <a routerLink='/forum' class="btn btn-primary mr-2"><i class="fa fa-globe">&nbsp;Daftar Forum</i> </a>
  <a routerLink='/qna' class="btn btn-primary mr-2"><i class="fa fa-comments-o">&nbsp;Daftar Pertanyaan</i> </a>
  <a routerLink='/compilerun' class="btn btn-primary mr-2"><i class="fa fa-file-code-o">&nbsp;Jalankan Kode</i> </a> -->
</div>

<div class="container-fluid mt-5">

  <div class="card text-center card text-center border-primary bg-light mb-3">

    <div class="card-header">
      Itwebforum
    </div>

    <div class="card-body mx-auto" style="border-left: violet;">
      <h1 class="card-title text-success">Pengenalan</h1>
      <h3 class="card-text">Adalah website dimana para programmer Fasilkom-TI dapat saling berdiskusi dan tolong
        menolong dalam menjawab pertanyaan yang terkait dalam bidang pemrograman.</h3>

      <p class="card-text">Forum dan Pertanyaan memiliki tag sesuai dengan topiknya masing masing</p>
      <a routerLink='/forum' class="btn btn-primary mr-2"><i class="fa fa-globe">&nbsp;Daftar Forum</i> </a>
      <a routerLink='/qna' class="btn btn-primary mr-2"><i class="fa fa-comments-o">&nbsp;Daftar Pertanyaan</i> </a>

      <br>

      <p class="card-text">Semua pertanyaan tergolong dari tiga kategori pertanyaan</p>
      <a [routerLink]="['/qna']" [queryParams]="{show: 'f'}" class="btn btn-primary mr-2">Frontend</a>
      <a [routerLink]="['/qna']" [queryParams]="{show: 'fb'}" class="btn btn-success mr-2">Frontend dan Backend</a>
      <a [routerLink]="['/qna']" [queryParams]="{show: 'b'}" class="btn btn-secondary">Backend</a>
    </div>

  </div>
  <br>


  <div class="parallax statistic-home">
    <div class="statistic">

      <div class="row statistic-card">
        <div class="col-md-2 statistic-numbers">
          {{totalForum}}
        </div>

        <div class="col-md-10 statistic-description">
          Total forum terdaftar
        </div>
      </div>

      <div class="row statistic-card">
        <div class="col-md-2 statistic-numbers">
          {{totalPesan}}
        </div>

        <div class="col-md-10 statistic-description">
          Total balasan forum
        </div>
      </div>

      <div class="row statistic-card">
        <div class="col-md-2 statistic-numbers">
          {{totalPertanyaan}}
        </div>

        <div class="col-md-10 statistic-description">
          Total pertanyaan ditanyakan
        </div>
      </div>

      <div class="row statistic-card">
        <div class="col-md-2 statistic-numbers">
          {{pertanyaanTerjawab}}
        </div>

        <div class="col-md-10 statistic-description">
          Total pertanyaan terjawab
        </div>
      </div>

      <div class="row statistic-card">
        <div class="col-md-2 statistic-numbers">
          {{totalPenggunaTerdaftar}}
        </div>

        <div class="col-md-10 statistic-description">
          Total pengguna terdaftar
        </div>
      </div>

      <div class="row statistic-card">
        <div class="col-md-2 statistic-numbers">
          {{totalTag}}
        </div>

        <div class="col-md-10 statistic-description">
          Total tag terdaftar
        </div>
      </div>



    </div>
  </div>


  <div *ngIf="!logged_in else alreadyLogged">

    <div class="row">

      <div class="col-md-6" style="border-right: 1px solid red;">

        <h1 class="text-info text-center">Ayo, segera bergabung dan mulai berinteraksi !</h1>
        <br>
        <register></register>

      </div>

      <div class="col-md-6" style="border-left: 1px solid red;">

        <h1 class="text-info text-center">Jika sudah punya akun, silahkan login terlebih dahulu</h1>
        <br>
        <login></login>

      </div>
    </div>

    <hr>
    <br>

  </div>

</div>

<ng-template #alreadyLogged>
  <!-- jika sudah login  -->


</ng-template>