.adv-action-buttons {
    text-align: end;
}

.adv-cards {
    margin-bottom: 5px;
    color: white;
}

.p-profile {
    border-radius: 50%;
    width: 3rem;
    height: auto;
    max-width: 100%;
    display: inline;
    margin-left: auto;
    margin-right: auto;
}